* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
  background: aliceblue;
  color: #222;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}
.book {
  background: #fff;
  border-radius: 0.3rem;
  padding: 1.5rem;
}
.book h2 {
  margin-top: 1rem;
  font-size: 1rem;
}
.book img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
